<%- include('../partials/heade.ejs')  %> 

<body>
    <div class="principal configD">

    <%- include('../partials/cabecalho.ejs') %> 
    <%- include('../partials/navbar.ejs') %> 
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/Stranger-Things-2-Banner-1500x600.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/bbad-banner.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/wandinha-banner.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/the-boys-banner.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br>
      <div class="container cor1 " id="FILMES">
        <h2 class="tipo">FILMES</h2>
      </div>
      <div class="container">
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
            <div class="card">
                <img src="img/hp-cs-png - Copia.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/hp-pf - Copia.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/boku-no-hero-png.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/tokyo-revergers-capa - Copia.png" class="card-img-top" alt="...">
                
            </div>
            </div>
        </div>
        <br>
        <div class="container tipo text-center">
            <a href=""><h5 class="tipo">Ver mais</h5></a>
          </div>

    </div>


      <br>
      <div class="container cor1 " id="ANIMES">
        <h2 class="tipo">ANIMES</h2>
      </div>
      <div class="container">
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
            <div class="card">
                <img src="img/one-piece-capa - Copia.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/blue-lock-capa.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/boku-no-hero-png.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/tokyo-revergers-capa - Copia.png" class="card-img-top" alt="...">
                
            </div>
            </div>
        </div>

        <br>
        <div class="container tipo text-center " >
            <a href=""><h5 class="tipo">Ver mais</h5></a>
          </div>
    </div>

    <br>
      <div class="container cor1 " id="SERIES">
        <h2 class="tipo">SERIES</h2>
      </div>
      <div class="container">
        
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
            <div class="card">
                <img src="img/stranger-things.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/the-boys.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/wandinha - Copia.png" class="card-img-top" alt="...">
                
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="img/breaking-bad.png" class="card-img-top" alt="...">
                
            </div>
            </div>
        </div>
        <br>
        <div class="container tipo text-center " >
            <a href=""><h5 class="tipo">Ver mais</h5></a>
          </div>
    </div>

</div>
</body>
<%- include('../partials/footer.ejs') %> 